.pagination
{
	padding:0px!important;
}
body
{
	background:#f7f7f7!important;
}
#main-wrapper
{
	margin-bottom: 0!important;
	margin: 0px!important;
}
.page_inner_front
{
	margin-top: 0px!important; 
}
.no-svg .dropdown-toggle {
     padding: 13px 15px 12px; 
     right: 0; 
    text-align: center; 
    width:100%;
}
@media screen and (min-width: 48em)
{
	.js .menu-toggle, .js .dropdown-toggle
	{
	   display: block; 
	}
}

@media screen and (min-width: 1199px)
{
	.nav-tab-wrapper
	{
		margin: 0!important;
		padding-top: 9px!important;
		padding-bottom: 0!important;
		/* content: ""!important;
		display: table!important;
		clear: both!important; */
	}
	ul.bar_tabs 
	{
		border-bottom: 1px solid #ddd!important;  
		/* content: ""!important;
		display: table!important;
		clear: both!important; */
	}	
	
}
@media screen and (max-width: 1199px)
{
	.navbar-nav>li>.dropdown-menu 
	{
		margin-top: 8px!important;
		margin-right:0px!important;
	}	
}
@media screen and (max-width : 991px) and (min-width : 921px) 
{	
	.nav-md .container.body .right_col 
	{		
		margin-top: 71px!important;
	}	
}	
@media screen and (max-width: 767px)
{
	.lms_subname
	{
		display:none;
	}	
	.user-profile 
	{		
		margin-right:10px!important;
	}
	.top_nav .navbar-right 
	{
		width: 100%;
	}
}
@media screen and (max-width: 479px)
{	
	.navbar-nav>li>.dropdown-menu 
	{
		margin-top: 8px!important;
		margin-right:11px!important;
	}	
}
.modal-title
{
	clear: none!important;
}
   
.btn_view_all
{
    border: 0px!important;
}

.lawyer_fronted_left_menu .icone 
{
    float: left;
    line-height: 0 !important;
}
.icone
 {
    margin: 5px;
}
.lawyer_fronted_left_menu .nav .title
 {
    color: #b8c7ce;
    line-height: 25px;
}
.lawyer_fronted_left_menu .nav .title:hover
{
    color: #fff;
    line-height: 25px;
}

.page_inner_front .page-title
{
	width: auto!important;
	margin: 20px;
    padding: 0;
}
.page_inner_front .page-title .title_left h3
 {
    margin: 5px!important;
	font-size: 23px;
}
ul.bar_tabs>li
{
	margin-top: -19px;
}
ul.bar_tabs>li.active
{
	margin-top: -17px;
}
.nav-tabs>li 
{
    float: left;
    margin-bottom: -1px!important;
}
.form-horizontal .control-label
{
	color: #73879C;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;    
    margin-left: -20px;
}
input[type=radio] 
{
    margin: 4px 0 0;    
    line-height: normal;
	outline: none!important;
	border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 15px;
    min-width: 16px;
}	
.form-control
 {
    border-radius:0!important;
    width: 100%;
}
h5 {
    letter-spacing: 0em;
    text-transform: initial;
}
.x_title  h2 
{
    font-size: 16px;
}
.membr_left img 
{
    width: 260px;
}
.pagination
{
	font-size: 13px;
    font-weight: 400;
}
.pagination a:not(.prev):not(.next):hover
{
	box-shadow:none!important; 
}
.pagination a
{
	box-shadow:none!important; 
}
.modal-header h4
{
	padding:0px;
}
textarea
{
	color: #666!important;
}
.btn {
    border-radius: 3px!important;
}
/* .btn-default 
{
    background-color: #fff!important;
    color: #333!important;
    border: 1px solid #e5e5e5!important;
} */
select
{
	height: 32px;
    padding: 2px;
    line-height: 28px;
    border-radius: 0px;
}
.page_inner_front
{
	margin-top: 57px;
}
.user-profile 
{
    margin-top: 0px!important;
	margin-right:10px;
}	
.navbar-nav>li>.dropdown-menu 
{
    margin-top: 8px!important;
	margin-right: 11px
}
.navbar-nav .open .dropdown-menu
{
	width: 176px;
}
.profile-image img
{
	height:150px!important;
}
/* .user-profiles 
{
    margin-top: 60px;
} */
.col-md-1.update_dp {
    margin: 10px 0 0 60px;
}
.user_message_close_button
{
	padding-right: 30px!important;
}
.model_header_border
{
	border: 0!important;
}
tr
{
    border-bottom: 0px!important;
}
